# unignore dotfiles
!.*/
!.fpc.cfg
!.zsh*
!.zprofile
!.vimrc

# but not
tags
TAGS

# side notes emacs package
side-notes.txt
general-side-notes.txt

# and not the tangled config
literate-config.el

# some wiring
!new-inits
!old-inits

# remove emacs runtime transient stuff
# i've started using no-littering, should i pick and
# choose from etc or not?
**/emacs/share/**
**/emacs/eln-cache/**
**/emacs/elpa/**
**/emacs/eshell/history
**/emacs/eshell/lastdir
**/emacs/recentf
**/emacs/places
**/emacs/auto-save-alist
**/emacs/projects
**/emacs/transient/**
**/emacs/tldr/**
**/emacs/var/**
