# Conflagration .editorconf -- the expected set for all my cofigurations.

# --------------------------------------------------------------------
# Editor Config is a great idea that in my experience isn't
# implemented well across various tools. But Neovim wants to use
# it and support appears to be improving.
#
# One issue is that there are "extensions." These are the bane of standards
# authors and implementors. The following properties are the standard as
# of 2025.
# 
# property                 values and comments
# --------                 ------------------------------------------------
# root                     boolean, search no further for an editor config
# charset                  latin1, utf-8, utf-8-bom, utf-16be or utf-16le 
# end_of_line              cr, lf, crlf
# insert_final_newline     boolean
# indent_style             space or tab, controls which of the following apply
# indent_size              replace "tab" with this many spaces
# tab_width                display "tab" with this many spaces
# trim_trailing_whitespace boolean from each line
#
# Editor config files are read front to back, so a file can be matched
# multiple times. If a property is set multiple times, the last value seen
# applies.
#
# This file started as the Lua settings from EmmyLuaCodeStyle. Those
# settings include extensions that may or may not be supported. I've left
# them in but don't expect to use them for other filetypes.
#
# This is the internet, no standard is standard.


# --------------------------------------------------------------------
# I am Groot!

root = true


# --------------------------------------------------------------------
# My defaults for unspecified file types or file types where I do not
# provide a setting.
#
# For unspecified file types I have two goals:
#
# 1) As much as possible do not alter an unspecified file's contents.
# 2) The contents should display correctly on an old style teletype (that's
#    where it all started, and tabs were tabs in those days).
#
# I would prefer that charset and end_of_line had "as is" options so that
# they could be set based on the file's contents, but that is too much to
# ask for. Maximum_line_length does support "unset" but from reading the
# issues on GitHub, there is no plan to provide an explicit "unset" elsewhere.
#
# The expectation when a value is unspecified, the editor should do whatever
# it would do in the absence of any editor config.

[*]
indent_style = tab
trim_trailing_whitespace = false
max_line_length = unset


# --------------------------------------------------------------------
# Spaces for indenting is wrong. Sadly, some languages insist on, prefer,
# or force this. I'll use my preferences on my code and if I work with
# anyone else's code I'll adhere to their standard for that particular
# project.

[*.py]
charset = utf-8
indent_style = tab
indent_size = 3
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# --------------------------------------------------------------------
# Spaces for indenting is wrong. Unfortunately I have to pop in and
# out of the QB64pe IDE and it wants 4 spaces. Sigh.

[*.{bas,bi,bm,BAS,BI,BM}]
charset = utf-8
indent_style = spaces
indent_size = 3
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# --------------------------------------------------------------------
# Several configuration file formats follow these conventions.

[*.{yml,yaml,xml,config}]
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
end_of_line = lf


# --------------------------------------------------------------------
# Ini file style.

[*.{ini,toml}, .editorconfig]
indent_style = tab
tab_width = 8
charset = utf-8
end_of_line = lf


# --------------------------------------------------------------------
# Use 2 spaces for the HTMLish files

[*.{htm,html,css,less,svg,vue}]
charset = utf-8
indent_size = 2


# --------------------------------------------------------------------
# The JSON files contain newlines inconsistently, and whitespace is not
# significant anyway. These settings appear good for javascript and typescript
# files as well.

[*.{json,json5,js,ts}]
charset = utf-8
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = true


# --------------------------------------------------------------------
# Odin.

[*.odin]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true


# --------------------------------------------------------------------
# C and friends.

[*.{c,h,cpp,hpp}]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_size = 3


# --------------------------------------------------------------------
# Forth
[*.{f,fs,fth}]
charset = utf-8
time_trailing_whitespace = true
end-of-line = lf
indent_size = 3
indent_style = space
# not sure if i want final newline

# --------------------------------------------------------------------
# Markdown and text. Pretty much leave these alone. Trailing spaces are
# (stupidly) significant in Markdown.

[*.{md,txt}]
trim_trailing_whitespace = false


# --------------------------------------------------------------------
# Scripting.

[*.{sh,zsh,bat}]
indent_style = tab
insert_final_newline = true

[*.vim]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 3
insert_final_newline = true

# --------------------------------------------------------------------
# Ruby.

[{*.rb,Gemfile}]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true


# --------------------------------------------------------------------
# Pascal.

[*.{pas,p,pp,inc}]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 3
insert_final_newline = true
