# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# I prefer 3 space indents in most code. C-ish languages are
# an exception, where I want tabs (and to hell with everyone
# else--it's my code, damn it!).
#
# Here are my various settings for files. EditorConfig is
# not consistently supported or enforced, so in some
# tools I still have to override things, but here's where
# I document my intent.

# Defaults I find sensible:
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = tab
tab_width = 8

# Textual healing of prose and poetry.
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = tab
tab_width = 5

[*.txt]
indent_style = space
indent_size = tab
tab_width = 5

[*.org]
indent_style = space
indent_size = tab
tab_width = 3

# Configuration files.
[*.{ini,toml}]
indent_sytle = tab
indent_size = tab
tab_width = 8

# Those new fangled scripting languages.
[*.lua]
indent_size = tab
tab_width = 3
indent_style = space
trim_trailing_whitespace = true

[*.{ts,tsc,js}]
indent_size = tab
tab_width = 3
indent_style = space
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = tab
tab_width = 3
trim_trailing_whitespace = true

[*.gemspec,*.rb]
indent_size = tab
tab_width = 2

# The old fangled scripting languages.
[*.{rexx,sh,zsh,bat}]
indent_style = space
indent_size = tab
tab_width = 3
trim_trailing_whitespace = true

[*.vim]
indent_style = space
indent_size = tab
tab_width = 4

# Scheme and friends.
[*.{scm,sls,ss,sld,rkt,sps,fnl}]
indent_style = space
indent_size = tab
tab_width = 3
trim_trailing_whitespace = true

[*.el]
indent_style = space
trim_trailing_whitespace = true

# The old ways still work.
[*.{p,pas,for,f90}]
indent_style = space
indent_size = tab
tab_width = 3
trim_trailing_whitespace = true

[*.{c,cpp,h,hpp,s,S}]
indent_style = tab
trim_trailing_whitespace = true

[*.odin]
indent_style = space
indent_size = tab
tab_width = 4
trim_trailing_whitespace = true

# There's always a clown in the crowd.
[{*[Mm]akefile*,*.mak,*.mk,depend}]
indent_style = tab
